/node_modules
/public/hot
/public/storage
/storage/*.key
# Dependencies are installed with `composer install --no-dev -o`, not committed.
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app/Console/Commands/Test*
/bootstrap/compiled.php
composer.phar
#composer.lock
.DS_Store
Thumbs.db
#/.htaccess
/public/css/builds/
/public/js/builds/
/public/.well-known
/Modules
/Modules/**/.git
/public/modules
/public/docs
/public/.dh-diag
/storage/.ignore_locales
/storage/.installed
/tools
.well-known
/resources/lang/module.*
.phpunit.result.cache
/.phpunit.cache
.env.testing